In [1]:
x = 3

In [2]:
x = [3, 4]

In [3]:
import numpy as np
x = np.array([3,4])

In [7]:
# example: sorting

import random
x = [random.random() for _ in range(1000000)]

# to time this
%timeit x.sort()

print(len(x))

9.71 ms ± 136 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
1000000

In [8]:
import numpy as np

x = np.random.random(1000000)

%timeit np.sort(x)

print(len(x))

76.2 ms ± 925 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
1000000

In [10]:
x = [3, 'data']
x

[3, 'data']

In [13]:

x = np.array([3, 'data'])
x

array(['3', 'data'], dtype='<U21')

In [15]:
x[0]+2

TypeError: can only concatenate str (not "int") to str

In [16]:
3 + 3

6

In [17]:
'3' + '3'

'33'

In [18]:
'3' + 3

TypeError: can only concatenate str (not "int") to str

In [19]:
int('3') + 3

6

In [21]:
'3' + str(3)

'33'

In [22]:
data = [35.0, 15, 52, 'Alice']

In [23]:
timesheet = {'hours':35.0, 'rate':15, 'holiday hours':52, 'Employee':'Alice'}

In [24]:
timesheet['hours']

35.0

In [25]:
data[0]

35.0

In [26]:
timesheet['rate']

15

In [27]:
timesheet['data'] = data

In [28]:
timesheet['data']

[35.0, 15, 52, 'Alice']

In [29]:
data[1] = 20

In [30]:
timesheet['data']

[35.0, 20, 52, 'Alice']

In [31]:
import pandas as pd

df = pd.DataFrame(timesheet)
df

   hours  rate  holiday hours Employee   data
0   35.0    15             52    Alice   35.0
1   35.0    15             52    Alice     20
2   35.0    15             52    Alice     52
3   35.0    15             52    Alice  Alice

In [32]:
df['hours']

0    35.0
1    35.0
2    35.0
3    35.0
Name: hours, dtype: float64

In [34]:
df['hours'][0]

35.0

In [35]:
df.iloc[0,0]

35.0

In [37]:
df.iloc[3,3]

'Alice'